/* AddJob.css */

.add-job {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure form takes up full viewport height */
    background-color: #f5f5f5; /* Light gray background */
    background-color: #683f3f; 
    background: linear-gradient(to bottom, #f0f8ff 0%, #3a4646 100%);
  }
  
  .add-job h3 {
    color: #333; /* Dark gray text color for heading */
    font-weight: bold;
    margin: 10px 0; /* Add some spacing around heading */
    text-align: center;
    text-decoration: underline; /* Add underline to heading */
  }
  
  .add-job form {
    width: 500px; /* Adjust form width as desired */
    background-color: #fff; /* White background */
    padding: 20px; /* Add padding for form elements */
    border-radius: 10px; /* Rounded corners for form */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for form */
  }
  
  .add-job form label {
    display: block; /* Display labels on their own lines */
    margin-bottom: 5px; /* Add breathing room between labels and inputs */
    color: #333; /* Dark gray text color for labels */
    font-weight: bold; /* Emphasize labels */
  }
  
  .add-job form input[type="text"],
  .add-job form input[type="date"],
  .add-job form input[type="number"],
  .add-job form textarea {
    width: 100%; /* Set input width to full form width */
    padding: 10px;
    border: 1px solid #ccc; /* Light border for inputs */
    border-radius: 5px; /* Rounded corners for inputs */
    font-size: 16px; /* Consistent font size for inputs */
    margin-bottom: 15px; /* Add some spacing between inputs */
  }
  
  .add-job form select {
    width: 100%; /* Set select element width to full form width */
    padding: 10px;
    border: 1px solid #ccc; /* Light border for select */
    border-radius: 5px; /* Rounded corners for select */
    font-size: 16px; /* Consistent font size for select */
    margin-bottom: 15px; /* Add some spacing between select and next element */
  }
  
  .add-job form button {
    background-color: #4CAF50; /* Green background color for button */
    color: #fff; /* White text color for button */
    padding: 12px 20px; /* Adjust button padding */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners for button */
    font-weight: bold; /* Emphasize button text */
    cursor: pointer; /* Indicate clickable button */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
  }
  
  .add-job form button:hover {
    background-color: #3e8e41; /* Darken button color on hover */
  }
  